<body>
<div class="bg-main">
<div class="container">
    <div class="row">
     
      <div class="col-md-12 text-right">
          <h2 class="repair-h2">Hello. My name is <span class="hight-light">Thinh Lemo</span> and I<br> have creative ideas and build websites</h2>
          <h2 class="repair-h2"><a href="https://portfolio-rails-2633.herokuapp.com/portfolio#">View my Work</a></h2>
  
      </div>
    </div>
	</div>
</div>


</body>
