.highlight {
background-color: #eaeff4;
color: #000;
padding: 0px 20px 0;
}
.about, .im{
max-height: 500px;
margin-left:50px;
}
.im img{
max-width: 90%;
height: auto;
margin-top:50px;
}
img {
margin-left:20px;
border: 0;
}

